
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    width: 100%; 
    max-width: 1200px;
    margin: 0 auto; 
    padding: 20px;
    align-items: center;
  }

  body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
  }
  
  .header, .content, .platforms, .training, .commission {
    padding: 1em;
    text-align: center;
  }
  
  .header h1, .header h2 {
    margin-bottom: 0.5em;
  }
  
  .highlight {
    color: #6A0DAD;
  }
  
  .banner img, .images img {
    width: 80%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
  
  .obs {
    color: #555;
    font-size: 20px;
    margin-top: 1em;

  }
  .content{
    align-items: center;
  }
  .arrow {
    font-size: 2em;
    text-align: center;
    display: block;
    margin: 1em 0;
  }
  
  .platforms, .commission {
    background-color: #f9f9f9;
    padding: 2em 1em;
    margin-top: 1em;
  }
  
  .training h3, .commission h3 {
    font-size: 1.4em;
    margin-bottom: 0.5em;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  
  @media (min-width: 768px) {
    .header h1 {
      font-size: 2em;
    }
  
    .training, .commission {
      max-width: 800px;
      margin: 0 auto;
      text-align: left;
    }
  
    .platforms, .training, .commission {
      padding: 2em;
    }
  }
  
  /* Estilo sutil para diferenciar sections */
section {
    padding: 2em 1em;
    margin-top: 1.5em; /* Espaçamento extra entre sections */
    border-radius: 8px;
  }
  
  /* Alternando cores de fundo para sections */
  section:nth-child(odd) {
    background-color: #f7f7f7;
  }
  
  section:nth-child(even) {
    background-color: #ffffff;
  }
  
  /* Bordas sutilmente destacadas para cada section */
  section {
    border: 1px solid #e0e0e0; /* Cor clara e discreta */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Sombra leve */
  }
  